.buttonsContainer {
}

.responseContainer {
    padding: 70px 0px;
    display: flex;
    justify-content: space-around;
}

.imageContainer {
}

.image {
}

.textContainer{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.code {
    font-size: 40px;
    font-weight: bolder;
    margin-bottom: 20px;
}

.text {
    font-size: 20px;
}
.info {
    font-size: 20px;
}